/* Basic */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #121212;
    color: #ffffff;
}

/* Layout */
main {
    height: calc(100vh - (208px + 60px));
}

.find-movies {
    padding: 0.125em;
    height: 208px;
    background-image: url("img/header-background-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-results {
    height: 100%;
    background: #121212 url('img/no-data-img.png');
    background-repeat: no-repeat;
    background-position: center;
}

.search-box-wrapper {
    display: flex;
    justify-content: center;
    margin-top: -1.25em; /* pulls the input over the bottom of header */
    z-index: 1;
}

.search-box {
    display: flex;
    align-items: center;
    width: 85%;
    border-radius: 5px;
    overflow: hidden;
    gap: 0.125em;
}
.search-box input {
    flex: 1;
    padding: 0.625em 0.125em;
    border: none;
}

.search-box input:focus {
    outline: none;
}

.search-box input:invalid + button {
    pointer-events: none;
    opacity: 0.3;
}

.search-box button {
    padding: 0.625em 1.2em;
    border: none;
    background-color: #4B4B4B;
    cursor: pointer;
}

.search-box .search-icon {
    height: 100%;
    width: 1.875em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.8em;
}

.search-box,
.search-box input {
    background: #2E2E2F;
}

.result {
    display: flex;
    gap: 0.5em;
    padding: 1em 0.5em;
    border-bottom: 1px solid #2C2C2C;
}

.result-poster {
  width: 120px;
  flex-shrink: 0;
  aspect-ratio: 2 / 3; /* height of container modern approach no need to set height again in css*/
  /* height: calc(100px * 3/2); */ /*height of container older approach  need to modify calc() if we change width*/
}

.result-poster img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.result-content {
    flex: 1;
}

.result-content--title-rating {
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.result-content--title-rating .title {
  flex: 1 1 auto;
}  

.result-content--title-rating .rating {
    position: relative;
    top: 1px;
}
.result-content--spans {
    padding: 0.5em 0.2em;
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-wrap: wrap;
}

.result-content p {
    margin-top: 0.2em;
    margin-bottom: 0;
    max-width: 300px;
}

.search-results {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    gap: 1em 0;
}

.result {
    grid-column: 2;
}

.search-results .no-results {

    grid-column: 1 / -1;
    justify-self: center;
    text-align: center;
    max-width: 280px;
    margin: 2em 0;
    display: flex;
    align-items: center;
}

/* Typography */

.find-movies,
.search-box button {
    color: #ffffff;
}

.find-movies h1 {
    font-size: 1.75rem;
    font-weight: 900;
}

.find-movies a {
    text-decoration: none;
    color: inherit;
}
.search-box input {
    font-size: 0.8125rem;

}
.search-box input::placeholder {
    color: inherit;
    font-size: inherit;
    opacity: 0.5;
} 

.search-box .search-icon {
    font-size: 0.8rem;
}

.find-movies a,
.search-box button {
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;

}

.search-box input,
.search-box .search-icon {
    color: #A5A5A5;
}

.result-content .title {
    font-size: 1.25rem;
    font-weight: 500;
}

.result-content .rating {
    font-size: 0.75rem;
}

.fa-star {
    color: #f5c518;
}

.result-content--spans span {
    font-size: 0.625rem;
}

.result-content--spans .watchlist {
    font-size: 0.7rem;
    font-weight: 600;
}

.result-content p {
    font-size: 0.8rem;
    line-height: 1.4;
    letter-spacing: 1px;
}

.no-results {
    font-size: 1rem;
    font-weight: 700;
    color: #787878;
    opacity: 0.7;
}

/* Media Query */
@media (min-width: 768px) {
    /* Layout */
    .search-box .search-icon {
        padding: 0 1.3em;
    }
    .search-box button {
        padding: 0.625em 1.875em;
    }

    .search-results {
        grid-template-columns: 1fr 1fr;
        gap: 1em 1em;
        padding: 0 1em;
    }

    .result-poster {
        width: 140px;
    }

    .result {
        grid-column: auto;
    }

    .result-content {
        padding: 0.75em 0;
    }

    .result-content p {
        max-width: 450px;
    }

    /* Typography */
    .find-movies h1 {
        font-size: 2rem;
    }

    .find-movies a,
    .search-box button,
    .search-box input,
    .search-box .search-icon {
        font-size: 1rem;
    }
    
    .result-content--spans span {
        font-size: 0.75rem;
    }

    .result-content--spans .watchlist {
        font-size: 1rem;
    }

    .result-content p {
        font-size: 1rem;
        line-height: 1.2;
        letter-spacing: 0.5px;
    }


}
